{% extends 'base.html' %}
{% load static %} 
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->

  <!-- check activation link -->
{% if request.GET.command == 'varification' %}
  
    <div class="container mx-auto aler alert-info p-5" style="max-width: 1024px; margin-top: 100px">
        
        Thank you for registering with us. We have sent you a varification mail to your email address {{request.GET.email}}
        <br><br>
        Already verified ? &nbsp; click <a href="{% url 'login' %}">here</a> to login
        
    </div>

{% else %}

  <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">

    {% include "includes/alerts.html" %}

    <div class="card-body">
      <h4 class="card-title mb-4"> Rest Password</h4>
      <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <input type="password" name='password' class="form-control" placeholder="Create Password" />
        </div>
        <!-- form-group// -->

        <div class="form-group">
          <input type="password" name='confirm_password' class="form-control" placeholder="Confirm Password" />
        </div>
        <!-- form-group// -->

     
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Reset</button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
  <br /><br />

{% endif %}

  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
