container_commands:

  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "python3 manage.py createsuperuser"
    leader_only: true
  03_collectstatic:
    command: "python3 manage.py collectstatic --noinput"

  option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: greatkart.settings
    "aws:elasticbeanstalk:environment:proxy:staticfiles":
      "/static": "static/"

